FeS2_complete/*
demeter_workflow/temp/*
demeter_workflow/feff/*
larch_workflow/fes2_feff/*
larch_workflow/larch/fes2_feff/*
larch_workflow/.ipynb_checkpoints/*
xafsdata/*
nexusdata/*
cif_files/*
demeter_workflow/rh4co/*
demeter_workflow/*_fit/*
demeter_workflow/singleruns/*
*.stderr.log
larch_workflow/rh4co*/*
larch_workflow/*_fit/*
larch_workflow/*_feff/*
larch_workflow/lib/__pycache__/
larch_workflow/r4co40_fit_rep.txt
larch_workflow/'rh4co40_gds.csv

demjup_workflow/fes2_dmtrjup_fit/fes2_rt01_mar02_xmu_fit.log
demeter_workflow/FeS2_dmtr.prj
demjup_workflow/fes2_demjup.prj
demjup_workflow/fes2_dmtrjup_fit/fes2_rt01_mar02_xmu.fit
demjup_workflow/fes2_dmtrjup_fit/fes2_rt01_mar02_xmu_fit.dpj
demjup_workflow/.ipynb_checkpoints/run_auto_once-checkpoint.ipynb
*.prj
*.fit
*.dpj
*.log
*.pyc
*.pyc
demjup_workflow/.ipynb_checkpoints/run_auto_iterate-checkpoint.ipynb
*.pyc
demjup_workflow/lib/__pycache__/demeter_runner.cpython-36.pyc
larch_workflow/larch_examples/*
larch_workflow/larch/.ipynb_checkpoints/Using Larch with Python3-checkpoint.ipynb
larch_workflow/1692395_feff.inp
larch_workflow/wf_data/*
PSDI_Phase_1/Larch/wf_data/*