arcp==0.2.1
asttokens==3.0.2
certifi==2026.7.22
charset-normalizer==3.5.2
click==8.5.0
comm==0.2.3
debugpy==1.8.22
executing==2.2.1
graphviz==0.21
idna==3.20
ipykernel==7.4.0
ipython==9.17.1
ipython_pygments_lexers==1.1.1
jedi==0.20.0
Jinja2==3.1.6
jsonpickle==4.1.2
jupyter_client==8.10.0
jupyter_core==5.9.1
MarkupSafe==3.0.3
matplotlib-inline==0.2.2
nest-asyncio2==1.7.3
networkx==3.7
numpy==2.5.3
packaging==26.3
pandas==3.0.6
parso==0.8.7
pexpect==4.9.0
platformdirs==4.12.2
prompt_toolkit==3.0.53
psutil==7.2.2
ptyprocess==0.7.0
pure_eval==0.2.4
Pygments==2.21.0
pyparsing==3.3.3
python-dateutil==2.9.0.post0
pyvis==0.3.2
pyzmq==27.2.0
rdflib==7.6.0
requests==2.34.2
rocrate==0.15.1
six==1.17.0
stack-data==0.6.3
tornado==6.5.10
traitlets==5.16.1
typing_extensions==4.16.0
urllib3==2.8.0
wcwidth==0.9.1
