params{
    data_dir = "$PWD/data/lg_test_02/*.dat"
    outfile = "*.prj"
    athena_task = "$PWD/xas01_athena.py"
    feff_task = "$PWD/xas02.01_feff.py"
    fit_task = "$PWD/xas02.02_fit.py"
    ini_file = "$PWD/py_inputs/t2_nd.ini"
    crystal_files = "$PWD/py_inputs/*.inp"
    gds_file = "$PWD/py_inputs/rh4co40_gds.csv"
    sp_file = "$PWD/py_inputs/rh4co40_sp_nd.csv"
    
    athena_dir = "rh4co"
    athena_plot = false
    outdir = "$PWD/out_dir"
    app = "python3"
    help = false
    
}

timeline {
  enabled = true
  file = "$params.outdir/timeline.html"
}

report {
  enabled = true
  file = "$params.outdir/report.html"
}

executor {
  queueSize = 10
  submitRateLimit = '10 sec'
}

profiles {
  slurm { includeConfig './configs/slurm.config' }


  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
  }

  slurm_singularity  {
    includeConfig './configs/slurm.config' 

    process.container = "$PWD/snglrty/larch_inst_ne.inf"

    singularity.enabled = true
    singularity.autoMounts = true
   
  }
}

workDir = "$PWD/work"
